@page
@using HW4.Aids
@using HW4.Pages.Extensions
@using HW4.Data.Quantity
@model Soft.IndexModel
@{
    Layout = "_Index";
    var page = "/Quantity/Measures";
}

@section Create{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}
<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
new Link(Html.DisplayNameFor(m => m.Item.Id), Model.GetSortString(m => m.Id, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Code), Model.GetSortString(m => m.Code, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Definition), Model.GetSortString(m => m.Definition, page)),
        new Link(Html.DisplayNameFor(m => m.Item.ValidFrom), Model.GetSortString(m => m.ValidFrom, page)),
        new Link(Html.DisplayNameFor(m => m.Item.ValidTo), Model.GetSortString(m => m.ValidTo, page))
        )
</thead>
        <tbody>
            @foreach (var Item in Model.Items)
            {
                <tr>
                    @Html.TableRowFor(
                   page, Item.Id,
                   Html.DisplayFor(modelItem => Item.Id),
                   Html.DisplayFor(modelItem => Item.Name),
                   Html.DisplayFor(modelItem => Item.Code),
                   Html.DisplayFor(modelItem => Item.Definition),
                   Html.DisplayFor(modelItem => Item.ValidFrom),
                   Html.DisplayFor(modelItem => Item.ValidTo))

                </tr>
            }
        </tbody>
    </table>
</body>