@page
@using HW4.Aids
@using HW4.Pages.Extensions
@using HW4.Data.Quantity
@model Soft.IndexModel
@{
    Layout = "_Index";
    var page = "/Quantity/Measures";
}

@section Create{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}
<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
       new Link(Html.DisplayNameFor(model => model.Item.Id), $"{page}?sortOrder={Model.IdSort}"),
               new Link(Html.DisplayNameFor(model => model.Item.Name), $"{page}?sortOrder={Model.NameSort}"),
               new Link(Html.DisplayNameFor(model => model.Item.Code), $"{page}?sortOrder={Model.CodeSort}"),
               new Link(Html.DisplayNameFor(model => model.Item.Definition), $"{page}?sortOrder={Model.DefinitionSort}"),
               new Link(Html.DisplayNameFor(model => model.Item.ValidFrom), $"{page}?sortOrder={Model.ValidFromSort}"),
               new Link(Html.DisplayNameFor(model => model.Item.ValidTo), $"{page}?sortOrder={Model.ValidToSort}"))
            
        </thead>
        <tbody>
            @foreach (var Item in Model.Items)
            {
                <tr>
                    @Html.TableRowFor(
                   page, Item.Id,
                   Html.DisplayFor(modelItem => Item.Id),
                   Html.DisplayFor(modelItem => Item.Name),
                   Html.DisplayFor(modelItem => Item.Code),
                   Html.DisplayFor(modelItem => Item.Definition),
                   Html.DisplayFor(modelItem => Item.ValidFrom),
                   Html.DisplayFor(modelItem => Item.ValidTo))

                </tr>
            }
        </tbody>
    </table>
</body>